#Theoretical Questions

1. What are data structures, and why are they important?

Data Structures are ways of organizing and storing data in a computer's memory. They provide a structured framework for efficient data access, manipulation, and management.

Importance:

Efficiency: Well-chosen data structures can significantly improve the speed and performance of algorithms.

Organization: They enable clear and logical representation of data, making programs easier to understand and maintain.

Problem Solving: Different data structures are suited for different problems, allowing you to select the most appropriate one for a given task.


2. Explain the difference between mutable and immutable data types with examples.

Mutable: Data types whose values can be changed after they are created.

Example: Lists ([1, 2, 3]), dictionaries ({'a': 1, 'b': 2}). You can modify elements within these structures.

Immutable: Data types whose values cannot be changed once created. A new object is created if you want to modify it.

Example: Strings ("hello"), tuples ((1, 2, 3)), numbers (integers, floats).


3. What are the main differences between lists and tuples in Python?

Mutability: Lists are mutable, tuples are immutable.

Syntax: Lists use square brackets ([]), tuples use parentheses (()).

Use Cases: Lists are suitable for dynamic collections where changes are expected. Tuples are used for representing fixed sequences of elements, ensuring data integrity.


4. Describe how dictionaries store data.

Dictionaries store data in key-value pairs.
Each key is unique, and it's associated with a corresponding value.
You can efficiently access a value by using its key.


5. Why might you use a set instead of a list in Python?

Sets are unordered collections of unique elements.

Use them to:

Check for membership quickly (in operator is efficient).

Remove duplicate values from a list.

Perform set operations (union, intersection, difference).


6. What is a string in Python, and how is it different from a list?

String:
An immutable sequence of characters.

Difference: Strings are specifically designed for text manipulation, while lists can hold any data type.


7. How do tuples ensure data integrity in Python?

Tuples are immutable, meaning their elements cannot be changed after creation.
This protects the data from accidental modifications, ensuring its integrity.


8. What is a hash table, and how does it relate to dictionaries in Python?

Hash Table: A data structure that uses a hash function to map keys to indices in an array.

Relation to Dictionaries: Python dictionaries are implemented using hash tables, allowing for very fast key lookups.


9. Can lists contain different data types in Python?

Yes, lists can contain elements of different data types (e.g., integers, floats, strings, even other lists).


10. Explain why strings are immutable in Python.

Strings are immutable for efficiency and to ensure data integrity.
Since strings are often used as keys in dictionaries, immutability is crucial for consistent hash values.


11. What advantages do dictionaries offer over lists for certain tasks?

Fast lookups: You can access values directly using their keys in O(1) time.

Efficient storage: Space-efficient for storing key-value pairs.

Flexibility: Can store data in an unordered manner.


12. Describe a scenario where using a tuple would be preferable over a list.

When you need to represent a fixed set of values that should never change (e.g., coordinates, days of the week).


13. How do sets handle duplicate values in Python?

Sets automatically remove duplicate values, ensuring that only unique elements are present.


14. How does the "in" keyword work differently for lists and dictionaries?

Lists: Checks if a value is present among the elements of the list.

Dictionaries: Checks if a key exists in the dictionary.


15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple directly because they are immutable.


16. What is a nested dictionary, and give an example of its use case.

Nested Dictionary: A dictionary where the values themselves are dictionaries.

Example: Representing hierarchical data like company departments and employees.


17. Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary has a time complexity of O(1) on average, meaning it's very fast and independent of the number of elements.


18. In what situations are lists preferred over dictionaries?

When you need an ordered collection of elements.

When you need to access elements by their index.

When you need to frequently add or remove elements.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries don't guarantee the order of key-value pairs.
You cannot rely on the order of elements when iterating over a dictionary.
You must use keys to retrieve specific values.


20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists: Access elements by their index (position).

Dictionaries: Access elements by their keys.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
my_name = "Naveen Kumar"
print(my_name)

Naveen Kumar

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [12]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [13]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [15]:
my_tuple = ('apple', 'orange', 'banana')
is_present = 'banana' in my_tuple
print(is_present)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [16]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [17]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

#Practical Questions repeat after this point in the assignment i.e. question 11 to 17 are same as question 18 to 24 in the same order.